extends layout

block content
    header

        .btn-group.btn-group-justified
            a.btn.btn-default(href= '/') Home
                .glyphicon.glyphicon-tree-conifer  
            for trail in trails
                a.btn.btn-default(href= '/' + trail.location)= trail.location
         
        .logo-bar 
            .img-wrapper
                h1 
                    span#location-slide= trail.location

            .img-wrapper
                h1 
                    span#logo-slide Trail Rate        

                img(src = 'http://cdn01.wallconvert.com/_media/wallpapers_1366x768/1/2/black-hills-and-white-mountains-11641.jpg')
    .description
        h2= trail.name
        p= trail.description